# .gitignore

# Ignore backend and frontend .env files
/backend/.env
/frontend/.env
/prediction-engine/.env

# Node modules for both backend and frontend
/backend/node_modules/
/frontend/node_modules/

# Logs
logs/
*.log

# Screenshots
screenshots/

# Docker
docker-compose.override.yml

# Other files to ignore
.DS_Store

# Design files
design/*

# Test files
test/*

# Legacy files
legacy/*

# VSCode files
.vscode/*
.aider*

# windsurf rules
.windsurfrules
AGENT.md

# Rust build artifacts
/prediction-engine/target/
recherche/2504.01781v2.pdf
