{
    email ${CADDY_EMAIL}
}

localhost {
    # Serve frontend files with pre-compressed files (.br, .gz)
    root * /usr/src/app/frontend
    file_server {
        precompressed br gzip
    }

    # Enable compression for dynamic content
    encode gzip

    # Reverse proxy API requests to the backend
    @api path /api/*
    reverse_proxy @api intellacc_backend:3000
}
