services:
  prediction-engine:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: intellacc_prediction_engine
    env_file:
      - ../backend/.env
      - ./.env
    environment:
      - RUST_LOG=info
    ports:
      - "3001:3001"
    depends_on:
      - db
    networks:
      - intellacc-network
      - default

networks:
  intellacc-network:
    external: true
  default:
    driver: bridge