@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #ffffff;
  color: #111827;
  font-family: "League Spartan", sans-serif;
}

body.skin-van {
  color: #000;
}

body.skin-terminal {
  background-color: #000000;
  color: #e0e0e0;
  font-family: "JetBrains Mono", monospace;
}

body.skin-terminal * {
  font-family: "JetBrains Mono", monospace;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffb400;
}
